/*body {

}
.k-grid tbody tr {
    height: 50px;
}

.k-grid td {
    white-space: nowrap;
}

.k-edit-cell > .k-textbox, .k-edit-cell > .k-widget, .k-grid-edit-row > td > .k-textbox, .k-grid-edit-row > td > .k-widget, .k-grid-edit-row > td > .text-box {
    height: 50px;
    white-space: nowrap;
}*/

/*.k-button {
    display: block;
    width: 50px;
    word-break: break-word;
}

.k-multiselect-wrap {
    height: 50px;
}

.fuelux ul {
    margin: 0 0 0px;
}*/